* {
    font-family: 'Ubuntu Mono';
    font-weight: 600;
}

a {
    color: cornflowerblue;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #111;
    color: #eee;
}

header {
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1rem solid #eee;
 }
 nav a {
    border: 0.1rem solid #eee;
    border-top: 0;
    flex-grow: 1;
    padding: 0.5rem 0;
    text-align: center;
    text-decoration: none;
    color: #eee;
 }

 nav a:first-child {
    border-left: 0;
 }

nav a:last-child {
    border-right: 0;
}

 nav a:hover {
    background: white;
    color: #111;
    cursor: pointer;
 }
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}
input {
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    background: #eee;
}
button, .submit-button, #submit, input[type=submit] {
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0;
    margin: 0.25rem;
    min-width: 20ch;
    background-color: cornflowerblue;
    color: white;
}
button:hover, .submit-button:hover, #submit:hover {
    background-color: #80adff;
    cursor: pointer;
}
.form-field {
    margin: 0.75rem;
}
h1 {
    font-family: 'Nimbus Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: white;
}
h2 {
    margin-bottom: 0;
    margin-top: 1.25rem;
}
footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
}

footer p {
    font-size: 1rem;
    margin: 0.1rem;
    width: auto;
    text-align: center;
}