table {
    box-sizing: border-box;
    padding: 1rem;
    border-collapse: collapse;
}

th, td {
border: 1px solid #eee;
white-space: nowrap;
font-size: 1rem;
padding: 0.5rem 1rem;
}

th {
    font-weight: bold;
    background-color: #eee;
    color: #111;
}