<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barprogram</title>
    <script src="{{url_for('static', filename='choices.js')}}"></script>
    <script src="{{url_for('static', filename='alpine.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='choices.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
    {% block dependencies %}{% endblock %}
</head>
<body class="content">
    <header>
        <nav>
            <a href="{{ url_for('transactions') }}">Afregning</a>
            <a href="{{ url_for('sales') }}">Barsalg</a>
            <a href="{{ url_for('members') }}">Medlemsliste</a>
            <a href="{{ url_for('settings') }}">Indstillinger</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
<footer>
    <p>Copyright &copy; 2025 <a href="https://github.com/dexteraphim" target="_blank">Dexter</a></p>
    <p>Alle rettigheder forbeholdes</p>
</footer>
</body>
</html>
