<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barprogram</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
</head>
<body class="content">
    <header>
        <nav>
            <a href="{{ url_for('transactions') }}">Afregning</a>
            <a href="{{ url_for('members') }}">Medlemsliste</a>
            <a href="{{ url_for('log') }}">Transaktioner</a>
            <a href="{{ url_for('settings') }}">Indstillinger</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
<footer>
    <p>Copyright &copy; 2025 <a href="https://github.com/dexteraphim" target="_blank">Dexter</a></p>
    <p>Alle rettigheder forbeholdes</p>
</footer>
</body>
</html>
