{% extends 'layout.html' %}
{% block dependencies %}
    <link rel="stylesheet" href="{{url_for('static', filename='members.css')}}">
{% endblock %}
{% block content %}
    <h1>Medlemsliste</h1>
    <a class="btn" href="{{url_for('create_member')}}">Opret medlem</a>
    <section class="memberlist">
        {% for member in members %}
        <a class="member" href="{{url_for('member', member_id=member.id)}}">
            <p>{{member.id}}</p>
            <p>{{member.nickname}}</p>
            <p>{{member.balance}} kr</p>   
        </a>
        {% endfor %}
    </section>
    </ul>
{% endblock %}