{% extends 'layout.html' %}
{% block content %}
    <h1>Afregn</h1>

    <h3>Indsæt penge</h3>
    <form method="POST" action="/deposit">
        {{ TransactionForm.hidden_tag() }}
        <div class="form-field">
            {{ TransactionForm.member(autofocus=True) }}
            {% if TransactionForm.member.errors %}
            <ul class="form-errors">
                {% for error in TransactionForm.member.errors %} <li>{{ error }}</li> {% endfor %} 
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ TransactionForm.deposit.label }}
            {{ TransactionForm.deposit(value=0) }}
            {% if TransactionForm.deposit.errors %}
            <ul class="form-errors">
                {% for error in TransactionForm.deposit.errors %} <li>{{ error }}</li> {% endfor %} 
            </ul>
            {% endif %}
        <div class="form-field">
            {{ TransactionForm.pay.label }}
            {{ TransactionForm.pay(value=0) }}
            {% if TransactionForm.pay.errors %}
            <ul class="form-errors">
                {% for error in TransactionForm.pay.errors %} <li>{{ error }}</li> {% endfor %} 
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ TransactionForm.submit(class="submit-button")}}
        </div>
    </form>
{% endblock %}