{% extends 'layout.html' %}
{% block content %}
    <h1>Afregn</h1>

    <h3>Indsæt penge</h3>
    <form method="POST" action="/deposit">
        {{ DepositForm.hidden_tag() }}
        <div class="form-field">
            {{ DepositForm.member.label }}
            {{ DepositForm.member(autofocus=True) }}
            {% if DepositForm.member.errors %}
            <ul class="form-errors">
                {% for error in DepositForm.member.errors %} <li>{{ error }}</li> {% endfor %} 
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ DepositForm.amount.label }}
            {{ DepositForm.amount }}
            {% if DepositForm.amount.errors %}
            <ul class="form-errors">
                {% for error in DepositForm.amount.errors %} <li>{{ error }}</li> {% endfor %} 
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ DepositForm.submit(class="submit-button")}}
        </div>
    </form>
{% endblock %}